/* colors */

:root {
    transition: color 0.5s, background-color 0.5s, background 0.5s;
    --text-color: #111;
    --shade-color: #333;
    --background-color: #eee;
    --support-color: #ccc;
}

:root.switched-theme {
    --text-color: #eee;
    --shade-color: #ccc;
    --support-color: #333;
    --background-color: #111;
}

@media (prefers-color-scheme: dark) {
    :root.switched-theme {
        --text-color: #111;
        --support-color: #333;
        --shade-color: #ccc;
        --background-color: #eee;
    }

    :root {
        --text-color: #eee;
        --shade-color: #ccc;
        --support-color: #333;
        --background-color: #111;
    }
}

/* general */

html {
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 22px;
    font-family: "Cormorant Garamond", sans-serif;
    text-align: center;
}

body {
    margin: 0;
    position: relative;
    min-height: 100vh;
    padding-bottom: 213px;
}

/* navbar */

navbar a#theme {
    cursor: pointer;
}

navbar {
    padding: 0 20%;
    display: inline-block;

    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

navbar a {
    color: var(--shade-color);
    transition: color 0.5s;
    position: relative;
    font-size: 33px;
    font-weight: bold;
    margin: 0 5%;
    text-decoration: none;
}

navbar a::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    transition: height 0.5s, width 0.5s, left 0.5s;
    background: linear-gradient(to right, var(--background-color), var(--text-color), var(--background-color));
}

navbar a.selected {
    color: var(--text-color);
}

navbar a.selected::before {
    height: 2px;
    width: 150%;
    left: -25%;
}

navbar a:hover {
    color: var(--text-color);
}

navbar a:hover::before {
    color: var(--text-color);
    height: 2px;
    width: 150%;
    left: -25%;
}

navbar a:active {
    font-weight: bold;
}

/* pages */

page {
    --accent-color: red;
    display: none;
}

page.selected {
    display: block;
    opacity: 0%;
    animation: fade-in 0.25s forwards ease-in;
}

@keyframes fade-in {
    10% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
  
page#virtues {
    --accent-color: yellow;
}

/* header */

h1 {
    margin: 0;
    padding: 22px 0;
    margin-bottom: 44px;
    font-size: 88px;
    position: relative;
}

h1::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 6px;
    background: linear-gradient(to right, var(--background-color), var(--text-color), var(--background-color));
}

blockquote {
    background: linear-gradient(to right, var(--background-color), var(--support-color), var(--background-color));
    padding: 11px 0;
}

blockquote:before { 
    content: open-quote;
    padding: 0 3px;
    display: inline-block;
    transform: rotate(180deg);
}

blockquote:after {
    content: close-quote;
    padding: 0 3px;
}

figcaption:before {
    content: '— ';
}

/* categories */

h2 {
    font-size: 55px;
    position: relative;
}

h2::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 4px;
    background: linear-gradient(to right, var(--background-color), var(--background-color), var(--text-color), var(--background-color), var(--background-color));
}

group {
    margin: 0 auto;
    width: 75%;
    display: block;
}

/* sins */

sin {
    margin: 22px auto 22px auto;
    width: 66%;
    display: block;
    position: relative;
}

h3 {
    transition: opacity 0.5s;
    font-size: 44px;
    position: relative;
    padding: 33px 0;
    margin: 0
}

num {
    color: var(--accent-color);
    font-size: 99px;
    position: absolute;

    left: 50%;
    top: 0;
    transform: translate(-50%, -2%);
    z-index: -1;

    transition: opacity 0.5s;
    opacity: 33%;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

sin:hover h3 {
    opacity: 33%;
}

sin:hover num {
    opacity: 100%;
    z-index: 1;
}

sin p {
    margin: 0;
    padding: 11px 0 33px;
    text-justify: inter-word;
}

.framed {
    --rotation: 3deg;
    filter: drop-shadow(30px 10px 4px #00000044);

    display: inline-block;
    vertical-align: middle; 

    transition: transform 0.5s;
    border: 20px solid;
    border-image-slice: 200;
    border-image-width: 10;
    border-image-repeat: repeat;
}

.framed.hor {
    transform: rotate( var(--rotation) );
    border-image-source: url(assets/frame_h.png);
    width: 250px;
    height: 150px;
}

.framed.ver {
    transform: rotate( var(--rotation) );
    border-image-source: url(assets/frame_v.png);
    height: 250px;
    width: 150px;
}

.framed.hor:hover, .framed.ver:hover {
    transform: rotate( calc(-1 * var(--rotation)) );
}

/* footer */

footer {
    color: white;
    background-color: black;
    padding: 22px 0;
    filter: drop-shadow(0px -10px #000000);

    position: absolute;
    bottom: 0;
    width: 100%;
}

/* misc */

num#fuck-you {
    opacity: 0%;
}

sin:hover num#fuck-you {
    opacity: 100%;
}